<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="startUri" value="http://hiperbibliotecas.blogspot.com.by/2015/" />
    <add key="downloadPath" value="D:\TEST" />
    <add key="maxReferenceDepth" value="3" />
    <add key="domainTransfer" value="WithoutRestrictions" />
    <add key="extensions" value="png,jpg,css,js,html" />
  </appSettings>
</configuration>